<div class="navbar">
   <a class="navbar-brand" href="/">Dentist Agenda</a>
   <div class="navbar-nav">
      <a class="nav-link" href="/users/list">List Users</a>
      <a class="nav-link" href="/users/create">Create User</a>
      <a class="nav-link" href="/appointments/list">List Appointments</a>
      <a class="nav-link" href="/appointments/create">Create Appointment</a>
   </div>
</div>
